.col-md-3.col-sm-6
  .card
    .card-body.no-padding
      .alert.alert-callout.alert-info.no-margin
        strong.text-xl 2
        br
        span.opacity-50 Total de participantes
        .stick-bottom-left-right
          .height-2.sparkline-revenue
