.row
  .col-md-6.col-sm-6.rank
    .card
      .card-body.no-padding
        .alert.alert-callout.alert-info.no-margin
          #morris-donut-graph-rank.size-6.center-elements data-colors="#A5B6B7,#D3793D,#3DA3F3,#20D4C9,#FFAE36,#E05142,#BF7ADC"
          span.opacity-50 = "Rank"
  .col-md-6.col-sm-6.points
    .card
      .card-body.no-padding
        .alert.alert-callout.alert-success.no-margin
          .text-center
            .knob.knob-default-light-track.size-6.center-elements style="color: #{present(@point).format_rank(current_user.total_points).last};"
              input type="text" class="dial" value=current_user.total_points data-min="0" data-max="160" data-readOnly="true" data-angleOffset=-125 data-angleArc=250
          span.opacity-50 = "#{I18n.t('labels.personal_rank')} - #{present(@point).format_rank(current_user.total_points).first}"
.row
  .col-md-12.col-sm-12.general-rank
    .card
      .card-body.no-padding
        .alert.alert-callout.alert-info.no-margin
          table.table.no-margin
            thead
              tr
                th #
                th = I18n.t('activerecord.models.participant', {count: 1})
                th = I18n.t('activerecord.models.point', {count: 2})
                th Rank
            tbody
              - Challenge.first.participants.includes(:points).sort_by(&:total_points).reverse.each_with_index do |participant, idx|
                tr style="background-color: #{present(@point).format_rank(participant.total_points).last};"
                  td = idx+1
                  td = truncate_content_tag(:span, participant.name, 25)
                  td = participant.total_points
                  td = present(@point).format_rank(participant.total_points).first
          span.opacity-50 = I18n.t('labels.general_rank')
.row
  .col-md-12.col-sm-12.participant-points
    .card
      .card-body.no-padding
        .alert.alert-callout.alert-success.no-margin
          = render :partial => "points/index"
          span.opacity-50 = I18n.t('labels.saved_points')
= link_to "#", class: "add-points btn ink-reaction btn-floating-action btn-success", data: {toggle: "modal", target: "#pointsModal"} do
  i.fa.fa-check
= render :partial => "points/modal_form"
