= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
  .card.card-underline
    .card-head.card-head-sm.style-primary
      header
        h3 =t('.title')
    .card-body
      = f.input :email, autofocus: true
    .card-actionbar
      .card-actionbar-row
        = link_to t('actions.log_in'), new_user_session_path, class: "pull-left btn btn-flat btn-default ink-reaction"
        = f.button :submit, t('actions.resend_confirmation'), class: "btn-raised btn-success ink-reaction"


/ h2 Resend confirmation instructions
/ = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
/   = devise_error_messages!
/   .field
/     = f.label :email
/     br/
/     = f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email)
/   .actions
/     = f.submit "Resend confirmation instructions"

