= simple_form_for(@point) do |f|
  .card-body
    - unless f.error_notification.nil?
      .alert.alert-danger
        = f.error_notification
        ul
          - f.object.errors[:base].each do |error|
            li = error
    .row
      .col-sm-12
        = f.input :train, as: :boolean, wrapper: false, label: false do
          label.checkbox-inline.checkbox-styled
            = f.check_box :train, {}, 3, 0
            span = t("activerecord.attributes.point.train")


        = f.input :food_plan, as: :boolean, wrapper: false, label: false, input_html: {data: {label: t("activerecord.attributes.point.food_plan")}}
        = f.input :coaching, as: :boolean, wrapper: false, label: false, input_html: {data: {label: t("activerecord.attributes.point.coaching")}}
    .row
      .col-sm-12
        = f.input :sleep, as: :boolean, wrapper: false, label: false, input_html: {data: {label: t("activerecord.attributes.point.sleep")}}
        label.checkbox-inline.checkbox-styled
          input type="checkbox" id="points_surprise_challenge"
          span = t("activerecord.attributes.point.surprise")
    .row.surprise-points
      .col-sm-12
        = f.input :surprise, as: :string, input_html: {maxlength: 1, data: {inputmask: "'mask': '9'"}}, hint: I18n.t('hints.surprise_points')
    br
    .row
      .col-sm-12
        = f.input :punctuation_date, as: :string, input_html: {class: "date", value: present(@point).format_punctuation_date}
    .row
      .col-sm-12
        = f.input :obs, input_html: {maxlength: 100}, hint: t("hints.maxlength", count: 100)
  .card-actionbar
    .card-actionbar-row
      .pull-left
        = link_to t("actions.back"), dashboard_index_path, class: "btn btn-raised btn-info ink-reaction"
      .pull-right
        = f.button :submit, class: "btn-raised btn-success ink-reaction"
