- if @points.any?
  div.table-responsive
    table.table.no-margin.table-striped
      thead
        tr
          th = I18n.t('labels.date')
          th = I18n.t('activerecord.models.point', {count: 2})
          th.text-right = I18n.t('labels.actions')
      tbody
        - @points.each do |point|
          tr
            td = present(point).format_punctuation_date
            td = point.sum_points
            td.text-right
              = link_to edit_point_path(point), class: "btn btn-icon-toggle", data: {toggle: "tooltip", placement: "top", :"original-title" => "#{t("actions.edit")}"} do
                i.fa.fa-pencil
              = link_to point_path(point), method: :delete, class: "btn btn-icon-toggle", data: {toggle: "tooltip", placement: "top", :"original-title" => "#{t("actions.delete")}", :confirm => t("messages.destroy")} do
                i.fa.fa-trash-o
- else
  h2.text-light.text-center = t("messages.no_records", resource: Point.model_name.human(count: 2).downcase)
