#pointsModal.modal.fade aria-hidden="true" aria-labelledby="formModalLabel" role="dialog" tabindex="-1"
  .modal-dialog
    .modal-content
      .modal-header
        button.close aria-hidden="true" data-dismiss="modal" type="button"  &times;
        h4#formModalLabel.modal-title = t("points.create.title")
      - @point = Point.new
      = simple_form_for(@point) do |f|
        .modal-body
          .row
            .col-sm-12
              = f.input :train, as: :boolean, wrapper: false, label: false do
                label.checkbox-inline.checkbox-styled.tour-one
                  = f.check_box :train, {}, 3, 0
                  span = t("activerecord.attributes.point.train")


              = f.input :food_plan, as: :boolean, wrapper: false, label: false, input_html: {data: {label: t("activerecord.attributes.point.food_plan")}}
              = f.input :coaching, as: :boolean, wrapper: false, label: false, input_html: {data: {label: t("activerecord.attributes.point.coaching")}}
          .row
            .col-sm-12
              = f.input :sleep, as: :boolean, wrapper: false, label: false, input_html: {data: {label: t("activerecord.attributes.point.sleep")}}
              label.checkbox-inline.checkbox-styled.tour-two
                input type="checkbox" id="points_surprise_challenge"
                span = t("activerecord.attributes.point.surprise")
          .row.surprise-points
            .col-sm-12
              = f.input :surprise, as: :string, input_html: {maxlength: 1, data: {inputmask: "'mask': '9'"}}, hint: I18n.t('hints.surprise_points')
          br
          .row
            .col-sm-12
              = f.input :punctuation_date, as: :string, input_html: {class: "date", value: present(@point).format_punctuation_date}
          .row
            .col-sm-12
              = f.input :obs, input_html: {maxlength: 100}, hint: t("hints.maxlength", count: 100)
        .modal-footer
          button.btn.btn-raised.btn-info.ink-reaction data-dismiss="modal" type="button" = t("actions.cancel")
          = f.button :submit, class: "btn-raised btn-success ink-reaction"
