= simple_form_for(resource, as: resource_name, url: user_registration_path, html: { method: :put }) do |f|
  .card.card-underline
    .card-head.card-head-sm.style-primary
      header.tour-one
        h3 =t('.title')
    .card-body
      - unless f.error_notification.nil?
        .alert.alert-danger
          = f.error_notification
      - if current_user.sign_in_count == 1
        .alert.alert-info
          |Nós criamos uma senha automática para ajudar você, caso queira trocar a senha, basta preencher os dados abaixo =)
      .row
        .col-sm-6
          = f.input :password, autofocus: true, autocomplete: "off"
        .col-sm-6
          = f.input :password_confirmation, autocomplete: "off"
      .row
        .col-sm-6
          = f.input :current_password, autocomplete: "off", hint: t("hints.new_password")
    .card-actionbar
      .card-actionbar-row
        .pull-left
          = link_to t("actions.back"), dashboard_index_path, class: "btn btn-raised btn-info ink-reaction"
        .pull-right
        = f.button :submit, t('actions.update'), class: "btn-raised btn-success ink-reaction"
