= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :put}) do |f|
  .card.card-underline
    .card-head.card-head-sm.style-primary
      header
        h3 =t('.title')
    .card-body
      = f.hidden_field :reset_password_token

      = f.input :password, autofocus: true, autocomplete: "off"
      = f.input :password_confirmation, autocomplete: "off"
    .card-actionbar
      .card-actionbar-row
        = link_to  t('actions.passwd_remembered'), new_user_session_path, class: "pull-left btn btn-flat btn-default ink-reaction"
        = f.button :submit, t('actions.passwd_change'), class: "btn-raised btn-success ink-reaction"
