= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .card.card-underline
    .card-head.card-head-sm.style-primary
      header
        h3 =t('.title')
    .card-body
      = f.input :email, autofocus: true
      = f.input :password
    .card-actionbar
      .card-actionbar-row
        = link_to t('actions.passwd_forgotten'), new_user_password_path, class: "pull-left btn btn-flat btn-default ink-reaction"
        = f.button :submit, t('actions.log_in'), class: "btn-raised btn-success ink-reaction"
