= simple_form_for(@challenge) do |f|
  .card-body
    - unless f.error_notification.nil?
      .alert.alert-danger
        = f.error_notification
    .row
      .col-sm-6
        = f.input :name, autofocus: true
    .row
      .col-sm-3
        = f.input :start_date, as: :string, input_html: {class: "date", value: present(@challenge).format_start_date}
      .col-sm-3
        = f.input :end_date, as: :string, input_html: {class: "date", value: present(@challenge).format_end_date}
    .card.card-underline
      .card-head.card-head-sm.style-primary
        header
          h3 =Participant.model_name.human(count: 2)
      #participants-fields.card-body
        = f.simple_fields_for :participants do |participant|
          = render 'participant_fields', f: participant
        .links
          = link_to_add_association t("actions.add_participant"), f, :participants, class: "btn btn-raised active btn-success ink-reaction"
  .card-actionbar
    .card-actionbar-row
      .pull-left
        = link_to t("actions.back"), challenges_path, class: "btn btn-raised btn-info ink-reaction"
      .pull-right
        = f.button :submit, class: "btn-raised btn-success ink-reaction"
