.nested-fields
  .row
    .col-sm-5
      = f.input :name
    .col-sm-5
      = f.input :email
    .col-sm-2
      = link_to_remove_association f, class: "btn ink-reaction btn-floating-action btn-danger" do
          i.fa.fa-trash-o
