.card.card-underline
  .card-head.card-head-sm.style-primary
    header
      h3 = "#{Challenge.model_name.human(count: 2)}"
    header.pull-right
      h3 = link_to "#{t("actions.new")} #{Challenge.model_name.human(count: 1)}", new_challenge_path

  .card-body
    - if @challenges.any?
      div.table-responsive
        table.table.no-margin.table-striped
          thead
            tr
              th Nome
              th Data de Início
              th Data de Término
              th.text-right Ações
          tbody
            - @challenges.each do |challenge|
              tr
                td = challenge.name
                td = present(challenge).format_start_date
                td = present(challenge).format_end_date
                td.text-right
                  = link_to edit_challenge_path(challenge), class: "btn btn-icon-toggle", data: {toggle: "tooltip", placement: "top", :"original-title" => "#{t("actions.edit")}"} do
                    i.fa.fa-pencil
                  = link_to challenge_path(challenge), method: :delete, class: "btn btn-icon-toggle", data: {toggle: "tooltip", placement: "top", :"original-title" => "#{t("actions.delete")}", :confirm => t("messages.destroy")} do
                    i.fa.fa-trash-o
    - else
      h2.text-light.text-center = t("messages.no_records", resource: Challenge.model_name.human(count: 2).downcase)
