p#notice = notice

p
  strong Name:
  = @challenge.name
p
  strong Start date:
  = @challenge.start_date
p
  strong End date:
  = @challenge.end_date

= link_to 'Edit', edit_challenge_path(@challenge)
'|
= link_to 'Back', challenges_path
