h2
  | Bem vindo #{@resource.name}!
p Para poder acessar o aplicativo, confirme seu cadastro no link abaixo:
p= link_to 'Confirmar minha conta', participant_confirmation_url(confirmation_token: @token)
h3 Sua senha é: #{@resource.password}
h3 Você poderá trocar após fazer o primeiro login

