p = "Olá #{@resource.email}!"

p Alguém requisitou um link para trocar de senha. Você pode fazer isso através do link abaixo.

p = link_to("Trocar minha senha", edit_password_url(@resource, reset_password_token: @token))

p Se não foi você que requisitou a troca, por favor ignore este email.

p Sua senha não será trocada até você acessar o link acima e criar uma nova.
