#congratzModal.modal.fade aria-hidden="true" aria-labelledby="formModalLabel" role="dialog" tabindex="-1" data-url="#{user_update_levelup_path}"
  .modal-dialog
    .modal-content
      .modal-header
        button.close aria-hidden="true" data-dismiss="modal" type="button"  &times;
        h4#formModalLabel.modal-title = t("messages.congratz_title")
        .modal-body
          .row
            .col-sm-12
              = raw t("messages.congratz", rank: I18n.t("activerecord.attributes.user.ranks.#{current_user.rank}"))
        .modal-footer
          button.btn.btn-raised.btn-success.ink-reaction data-dismiss="modal" type="button" = t("actions.thanks")
