meta charset="utf-8"
meta content="IE=edge" http-equiv="X-UA-Compatible"
meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no"
meta name="keywords" content= t('app_keywords')
meta name="description" content= t('app_description')

title
  = page_title(app_name: t("app_name"))

= stylesheet_link_tag 'roboto', 'application', media: 'all', 'data-turbolinks-track' => true
= javascript_include_tag 'application', 'data-turbolinks-track' => true
= javascript_include_tag "bootstrap-tour/translations/change-password_#{I18n.locale}"
= javascript_include_tag "bootstrap-tour/translations/dashboard_#{I18n.locale}"
= csrf_meta_tags

/![if lt IE 9]
= javascript_include_tag 'html5shiv.min'
