header#header
  .headerbar
    .headerbar-left
      ul.header-nav.header-nav-options
        li.header-nav-brand
          .brand-holder
            = link_to root_path do
              span.text-lg.text-bold.text-primary
                = t("app_name")
        - if current_user.admin?
          li
            = link_to "javascript:void(0);", class: "btn btn-icon-toggle menubar-toggle", "data-toggle" => "menubar" do
              i.fa.fa-bars
    -if user_signed_in?
      .headerbar-right
        ul.header-nav.header-nav-profile
          li.dropdown
            = link_to "javascript:void(0);", class: "dropdown-toggle ink-reaction", "data-toggle"=>"dropdown" do
              span.profile-info
                = current_user.name
                small = current_user.admin? ? t("admin") : Participant.model_name.human(count: 1)
            ul.dropdown-menu.animation-dock
              li
                = link_to t("actions.change_password"), edit_user_registration_path
              li
                = link_to t("actions.logout"), destroy_user_session_path, method: :delete
