#menubar.menubar-inverse
  .menubar-fixed-panel
    div
      = link_to "javascript:void(0);", class: "btn btn-icon-toggle btn-default menubar-toggle", "data-toggle" => "menubar" do
        i.fa.fa-bars
    .expanded"
      = link_to root_path do
        span.text-lg.text-bold.text-primary
          = t("app_name")
  .menubar-scroll-panel
    ul#main-menu.gui-controls
      li class="#{set_actived_menu('dashboard', 'index')} dashboard"
        = link_to dashboard_index_path do
          .gui-icon
            i.md.md-home
          span.title Dashboard
      - if current_user.admin?
        li class=set_actived_menu('challenges')
          = link_to challenges_path do
            .gui-icon
              i.md.md-web
            span.title Desafios
      - else
        li class="#{set_actived_menu('points')} points"
          = link_to points_path do
            .gui-icon
              i.md.md-assessment
            span.title Pontos
    .menubar-foot-panel
      small.no-linebreak.hidden-folded
        span.opacity-75 Copyright &copy; 2016 &nbsp;
        strong = t("app_name")
