doctype 5
html lang="pt"
  head
    = render 'head'

  / menubar-hoverable header-fixed menubar-pin
  body class="#{body_class}"
    javascript:
      I18n.defaultLocale = "#{I18n.default_locale}";
      I18n.locale = "#{I18n.locale}";
    = render 'header'
    #base
      #content
        section
          .section-body
            .row
              .col-sm-12
                = render 'flash_toasters'
                = yield
        - if current_user.levelup?
          = render 'congratz_message'
      - if current_user.admin?
        = render 'menubar'
