doctype 5
html lang="pt"
  head
    = render 'head'

  body class=body_class
    javascript:
      I18n.defaultLocale = "#{I18n.default_locale}";
      I18n.locale = "#{I18n.locale}";
    section class="section-account"
      .img-backdrop
      .spacer
      .card.contain-sm.style-transparent
        .card-body
          .row
            .col-sm-8
              h1.text-bold.text-primary
                = t("app_name")
              = render 'flash_toasters'
              = yield
